Checks: '-*,
  boost-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  mpi-*,
 -bugprone-branch-clone,
 -cppcoreguidelines-avoid-magic-numbers,
 -cppcoreguidelines-avoid-non-const-global-variables,
 -*-non-private-member-variables-in-classes,
 -*-avoid-c-arrays,
 -bugprone-easily-swappable-parameters,
 '
